import(corrr)
import(crayon)
import(dplyr)
import(magrittr)
import(pryr)
import(tibble)
import(tidyr)
import(stringr)
export(report_cor)
export(report_na)
export(report_space)
export(report_types)
export(report)