useDynLib(cleanr, .registration = TRUE)
import(corrr)
import(crayon)
import(dplyr)
import(GoodmanKruskal)
import(magrittr)
import(pryr)
import(Rcpp)
import(stringr)
import(tibble)
import(tidyr)
export(clean)
export(add_time_features)
export(report_association)
export(report_cor)
export(report_imbalance)
export(report_na)
export(report_space)
export(report_types)
export(report)
export(drop_columns)
export(drop_constant)
export(drop_cor)
export(drop_imbalance)